@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Public+Sans:wght@300;400;500;600;700&family=Work+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Work Sans;
}
.btn {
  color: #005fac;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid transparent;
}
.btn:hover {
  cursor: pointer;
  color: #fff;
  background: #005fac;
  transition: 0.25s linear;
  border: 1px solid #fff;
  border-radius: 20px;
}
.title {
  color: #151414;
  font-size: 40px;
  font-weight: 800;
}
.header-wrap {
  height: 100vh;
  background-image: url(./images/banner/banner3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding: 0 180px;
  gap: 25px;
}
.h-title {
  color: #fff;
  font-size: 65px;
  font-weight: 800;
  text-align: right;
}
.h-description {
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.prev-year {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}
.prev-year-left {
  width: 55%;
}
.prev-year-left img {
  width: 450px;
  display: block;
  margin: 0 auto;
}
.prev-year-right {
  width: 45%;
  text-align: left;
}
.prev-year-title {
  margin-bottom: 15px;
}
.prev-year-description {
  color: #444343;
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 10px;
  width: 415px;
}
.prev-year-right li {
  color: #444343;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  list-style: none;
  margin-left: 30px;
  position: relative;
}
.prev-year-right li img {
  position: absolute;
  top: 7px;
  left: -25px;
  width: 20px;
  margin-right: 10px;
}

.plan-container {
  background-color: #0472cc56;
  padding: 30px 0;
}
.p-title {
  text-align: center;
  font-weight: 900;
}
.plan-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto;
}
.p-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #fff; */
  padding: 20px;
  width: 230px;
}
.p-item:hover {
  box-shadow: 0 7px 10px 1px #00000091;
  transform: scale(1.05);
  transition: 0.25s linear;
}
.p-img {
  width: 90px;
  margin-bottom: 25px;
}
.p-subtitle {
  color: #151414;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  font-weight: 900;
}
.p-info {
  color: #737272;
  font-size: 20px;
  font-weight: 500;
}

.mindset {
  width: 80%;
  height: 280px;
  border-radius: 10px;
  margin: 80px auto;
  background-image: url(./images/gradient1.png), url(./images/watch.png);
  background-repeat: no-repeat;
  padding: 60px 0 60px 65px;
}
.m-title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}

footer {
  display: flex;
  background-color: #151414;
  color: #fff;
}
.f-left {
  width: 50%;
  padding: 120px 150px;
}
.f-title {
  color: #f8f8f8;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 10px;
}
.f-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 50px;
}
.f-mail,
.f-phn {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.social-links {
  margin-top: 25px;
}
.social-links img {
  margin-right: 20px;
  width: 42px;
  cursor: pointer;
}
.f-right {
  width: 50%;
  padding: 120px 150px;
}
.f-r-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}
.f-right input {
  color: #f3f3f3;
  font-size: 18px;
  padding: 15px 20px;
  background-color: transparent;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}
::placeholder {
  color: #f3f3f3;
}
.f-btn {
  border-radius: 8px;
  background: #005fac;
  padding: 15px 22px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}
.licence {
  color: #fff;
  background-color: #151414;
  text-align: center;
  padding-bottom: 20px;
  font-size: 18px;
}
.licence span {
  color: #005fac;
  font-weight: bold;
  background-color: #fff;
  padding: 2px 6px;
  border-radius: 20px;
  font-size: 20px;
}
